body {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

input {
    display: flex;
    padding: 8px;
    border: 1px solid #ffffff2a;
    border-radius: 4px;
    font-size: 14px;
}

header, footer {
    display: flex;
    list-style-type: none; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #383E4C;
    color: white;                                      
    text-align: center;
    
}
#hero{
    display: flex;
    flex-direction: column; 
    height: 400px;
    width: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/layout-01-assets/img11.jpg);
    background-size: cover;
}
#Form{
    display: flex;
    flex-direction: column; 
    height: 300px;
    width: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/layout-01-assets/img12.jpg);
    background-size: cover;
    
}
#contact-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #ffffff6f;
}
#Services {
    display: flex;
    flex-direction: column; 
    height: 300px;
    width: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/layout-01-assets/img13.jpg);
    background-size: cover;
}
nav ul {
    display: flex;
    list-style-type: none; 
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    background-color: #383E4C;
    padding: 10px 20px;
    text-align: center;
}
nav ul li {
    margin: 0% 10px;
    padding: 0% 10px;
    border: 1px solid #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #383E4C;
    
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
main {
    flex: 1;
   
}
section {
    margin-bottom: 20px;
}
article {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
h1, h2, h3 {
    color: #333;
}
footer {
    font-size: 14px;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
footer ul {
    display: flex;
    list-style-type: none; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
footer ul li {
    margin: 0 10px;
}
footer ul li::after {
    content: "|";
    margin-left: 10px;
}
footer ul li:last-child::after {
    content: "";
    margin: 0;
}